.header-title {
    margin: 0 250px 0 50px;
    font-size: 30px;
    color: white;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
}

#container {
    min-height:100%;
    position:relative;
}

#body {
    padding: 10px 10px 100px;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;   /* Height of the footer */
}

#footer > h4 {
    text-align: center;
    margin-top: 35px;
    color: white;
}

.text-align-center {
    text-align: center;
}

.button-start {
    position: absolute;
    top: 50%;
}